#gamepicker {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}

#menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  margin: 0
}
#menu {
  margin: 5px;
  border: 1px solid black;
}
